*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter', sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

}


.form-container{

width:380px;

padding:40px;

border-radius:15px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.1);

box-shadow:0 10px 40px rgba(0,0,0,0.4);

}


h2{

text-align:center;

margin-bottom:25px;

font-weight:500;

}


.input-group{

margin-bottom:15px;

}


label{

font-size:13px;

margin-bottom:5px;

display:block;

color:#ddd;

}


.input-box{

display:flex;

align-items:center;

background:rgba(255,255,255,0.07);

padding:10px;

border-radius:8px;

border:1px solid rgba(255,255,255,0.1);

transition:0.3s;

}


.input-box i{

margin-right:10px;

color:#8fd3f4;

}


input{

background:none;

border:none;

outline:none;

color:white;

width:100%;

font-size:14px;

}


textarea{

width:100%;

padding:10px;

border-radius:8px;

background:rgba(255,255,255,0.07);

border:1px solid rgba(255,255,255,0.1);

color:white;

resize:none;

}


.input-box:focus-within{

border:1px solid #8fd3f4;

box-shadow:0 0 10px #8fd3f4;

}


.intereses{

margin-top:10px;

margin-bottom:8px;

font-size:14px;

}


.checkbox-group{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}


.checkbox{

display:flex;

align-items:center;

gap:5px;

font-size:13px;

cursor:pointer;

}


.checkbox input{

accent-color:#8fd3f4;

cursor:pointer;

}


.btn{

width:100%;

padding:12px;

border:none;

border-radius:10px;

font-size:16px;

color:white;

cursor:pointer;

background:linear-gradient(90deg,#00c6ff,#0072ff);

box-shadow:0 0 15px rgba(0,114,255,0.6);

transition:0.3s;

}


.btn:hover{

transform:translateY(-2px);

box-shadow:0 0 25px rgba(0,114,255,0.9);

}